form.comment-form
    textarea(rows="4", placeholder="Your  Message").comment-form__input.stag-book.medium-font.border.border_narrow.rounded
    .comment-form__error.stag-medium.small-font
    .comment-form__success.stag-medium.small-font
    button(type="submit").comment-form__button.stag-medium.medium-font.border.border_narrow.rounded Send