section.comments-section#comments-section
    noscript 
        h3.noscript__title.stag-book.medium-font Oops! Our servise doesn't work very well without 
            b.stag-medium JavaScript...
        p.noscript__text.stag-book.medium-font Looks like Javascript is turned of or not supported by your browser. Try to enable it in your browser settings or try to use browser that support Javascript:)