ul.info.stag-book.small-font.border.border_narrow
    li.info__item.info__item_author
        .info__icon
            img(src="img/human.png", alt="human").block
        p Post by
        p.stag-medium.main-info#post-author Will Smith
    li.info__item.info__item_date
        .info__icon
            img(src="img/clock.png", alt="clock").block
        p Posted
        p.stag-medium.main-info June 18, 2015
        p at 
        time.stag-medium.main-info 21:14
    li.info__item.info__item_comments-counter.stag-medium
        .info__icon
            img(src="img/thought.png", alt="thought").block
        p#comments-counter.main-info unknown number of comments