.respond-form#respond-form
    .respond-form__navigation.stag-book.small-font.clearfix.flex
        ul.info.info_comment.respond-form__addressee
            li.info__item.info__item_author
                .info__icon
                    img(src="./img/addressee.png" alt="image")
                p#addressee.info__author-name
        button#close.respond-form__button.stag-book.small-font Cancel
    include comment-form.pug