
<ul class="info stag-book small-font border border_narrow">
  <li class="info__item info__item_author">
    <div class="info__icon"><img class="block" src="img/human.png" alt="human"/></div>
    <p>Post by</p>
    <p class="stag-medium main-info" id="post-author">Will Smith</p>
  </li>
  <li class="info__item info__item_date">
    <div class="info__icon"><img class="block" src="img/clock.png" alt="clock"/></div>
    <p>Posted</p>
    <p class="stag-medium main-info">June 18, 2015</p>
    <p>at </p>
    <time class="stag-medium main-info">21:14</time>
  </li>
  <li class="info__item info__item_comments-counter stag-medium">
    <div class="info__icon"><img class="block" src="img/thought.png" alt="thought"/></div>
    <p class="main-info" id="comments-counter">unknown number of comments</p>
  </li>
</ul>