
<div class="respond-form" id="respond-form">
  <div class="respond-form__navigation stag-book small-font clearfix flex">
    <ul class="info info_comment respond-form__addressee">
      <li class="info__item info__item_author">
        <div class="info__icon"><img src="./img/addressee.png" alt="image"/></div>
        <p class="info__author-name" id="addressee"></p>
      </li>
    </ul>
    <button class="respond-form__button stag-book small-font" id="close">Cancel</button>
  </div>
  <form class="comment-form">
    <textarea class="comment-form__input stag-book medium-font border border_narrow rounded" rows="4" placeholder="Your  Message"></textarea>
    <div class="comment-form__error stag-medium small-font"></div>
    <div class="comment-form__success stag-medium small-font"></div>
    <button class="comment-form__button stag-medium medium-font border border_narrow rounded" type="submit">Send</button>
  </form>
</div>