<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/main.min.css")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        title The Road to Home
    body
        #image-zoom
            img(src="", alt="zoomed-img")#zoom-img
        main.page-wrapper
            section.post
                .post__image
                    img(src="img/cover-image.jpg", alt="some image").block
                article.post__wrapper
                    section.post__content
                        h1.post__title.stag-semibold.large-font The Road to Home
                        ul.info.info_top.stag-medium.small-font.border.border_narrow
                            li.info__item 
                                p June 18, 2015
                        .post__text.stag-book.medium-font
                            .post__paragraph
                                p Made last it seen went no just when of by. 
                                    |Occasional entreaties comparison me difficulty 
                                    |so themselves. At brother inquiry of offices 
                                    |without do my service. As particular to 
                                    |companions at sentiments. Weather 
                                    |however luckily enquire so certain do. 
                                    |Aware did stood was day under ask. Dearest 
                                    |affixed enquire on explain opinion he. 
                                    |Reached who the mrs joy offices pleased. 
                                    |Towards did colonel article any parties.
                            .post__paragraph.post__paragraph_with-image.clearfix
                                figure.post__content-image.post__content-image_left.border.border_wide
                                    img(src="img/content-image.jpg" alt="image").block
                                    .post__image-overlay-wrapper
                                        figcaptition.post__image-overlay
                                            .post__image-overlay-eye
                                            p.post__image-overlay-text.stag-book-i  Photo by John Dou
                                p Needed feebly dining oh talked wisdom oppose at. 
                                    |Applauded use attempted strangers now are middleton 
                                    |concluded had. It is tried no added purse shall no on 
                                    |truth. Pleased anxious or as in by viewing forbade 
                                    |minutes prevent. Too leave had those get being led 
                                    |weeks blind. Had men rose from down lady able. 
                                    |Its son him ferrars proceed six parlors. Her say 
                                    |projection age announcing decisively men. Few gay 
                                    |sir those green men timed downs widow chief. 
                                    |Prevailed remainder may propriety can and. 
                                    |Now for manners use has company believe parlors. 
                                    |Least nor party who wrote while did.
                            .post__paragraph 
                                p We diminution preference thoroughly if. Joy 
                                    |deal pain view much her time. Led young gay 
                                    |would now state. Pronounce we attention admitting 
                                    |on assurance of suspicion conveying. That his 
                                    |west quit had met till. Of advantage he 
                                    |attending household at do perceived. Middleton 
                                    |in objection discovery as agreeable. Edward 
                                    |thrown dining so he my around to.
                            .post__paragraph 
                                p Sense child do state to defer mr of forty. 
                                    |Become latter but nor abroad wisdom waited. 
                                    |Was delivered gentleman acuteness but daughters. 
                                    |In as of whole as match asked. Pleasure exertion 
                                    |put add entrance distance drawings. In equally 
                                    |matters showing greatly it as. Want name any wise 
                                    |are able park when. Saw vicinity judgment remember 
                                    |finished men throwing.
                            .post__paragraph 
                                p Too leave had those get being led weeks blind. 
                                    |Had men rose from down lady able. Its son him 
                                    |ferrars proceed six parlors. Her say projection 
                                    |age announcing decisively men.
                    include templates/info.pug
                    include templates/comments.pug                
        
        script(src="./js/main.js")